resource "azurerm_nat_gateway" "ngw" {
  name                = "{{ env }}-ngw"
  location            = data.azurerm_resource_group.rg.location
  resource_group_name = data.azurerm_resource_group.rg.name

  depends_on = [
    azurerm_resource_group.rg
  ]
}
